@media (max-width:768px){
    .container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
        grid-gap: 4rem;
    }
    .cards-title  {
        position: absolute;
        width: 200px;
        margin-top: 15px;
        margin-left: 70px;
        font-size: 30px;
        color: #fff;
      }
}